# Основной домен (Nginx сам разберется с путями)
ivantishchenko.ru {
    reverse_proxy 127.0.0.1:8080
}

# Поддомен API (для авторизации и статистики)
api.ivantishchenko.ru {
    reverse_proxy 127.0.0.1:9583
}