# Aiogram для Telegram-бота
Requests==2.32.3
aiogram==3.18.0
matplobblib==0.3.21
python-dotenv==1.0.1
dotenv==0.9.9
aiosqlite
matplobblib
matplotlib
Pillow>=9.0.0
markdown
cachetools
ipython
aiohttp
setuptools
httpx
weasyprint
redis