# Aiogram для Telegram-бота
Requests==2.32.3
aiogram==3.18.0
matplobbot-shared
apscheduler==3.10.4
matplobblib==0.3.21
python-dotenv>=1.0.0
dotenv==0.9.9
matplobblib
matplotlib
Pillow>=9.0.0
markdown
cachetools
ipython
aiohttp
setuptools
aiosqlite # Added for migration script
httpx
redis
weasyprint
certifi
ics
beautifulsoup4
markdown-it-py
cachetools
alembic
sqlalchemy[asyncio]
greenlet
asyncpg>=0.28.0
celery==5.3.6
mdit-py-plugins>=0.5.0